appdirs==1.4.4
blessed==1.20.0
flyingcircus==0.1.4.1
packaging==23.1
pygame==2.3.0
pygame-menu==4.4.2
pyperclip==1.8.2
python-i18n==0.3.9
setuptools-scm==7.1.0
six==1.16.0
tomli==2.0.1
typing_extensions==4.5.0
wcwidth==0.2.6
